body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

p {
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}

#weapon {
    text-align: center;
    margin: 10px;
}

.dashboard {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#results {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscore {
    display: flex;
    justify-content: center;
}

.subscore div {
    padding: 10px;
    margin: 0px;
}

.newgame {
    margin: 0px;
}

@keyframes boom {
    0%  {background-color: white;}
    25% {background-color: palegoldenrod;}
    100%{background-color: #CC0000;}
    0%  {height: 1vmax; width: 1vmax;}
    0%  {transform: scale(1);}
    100%{transform: scale(200);}
    0%  {border-radius: 50%;}
    100%  {border-radius: 50%;}
}