p {
    text-align: center;
}

#weapon {
    text-align: center;
    margin: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#results {
    display: flex;
    justify-content: center;
}

#results div {
    padding: 10px;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.subscore {
    display: flex;
    justify-content: center;
}

.subscore div {
    padding: 10px;
}